<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    <link rel="stylesheet" type="text/css" href="./styles/index.css">
    <link rel="shortcut icon" href="/logo.png"/>
    <title>Helpdesk</title>
  </head>
  <body>
    <div class="index-container">
      <div class="content">
        <div class="topic">
          <h>Helpdesk</h>
          <p>Helpdesk system </p>
        </div>
        <div class="navigation">
          <div class="element">
            <button onclick="location.href='/support'">Leave application</button>
          </div>
          <div class="element">
            <button onclick="location.href='/tickets'">View applications</button>
          </div>
          <div class="element">
            <button onclick="location.href='/login'">Log in</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html