<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.5"/>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/support.css">
    <link rel="shortcut icon" href="/logo.png"/>
    <title>Helpdesk</title>
    <script src="./scripts/login.js"></script>
  </head>
  <body>
    
    <div id="login-container-id" class="login-container"  >
      <div class="content" id="content">
        <form action="/login" method="post" > 

          <img id="logo" style="border-radius: 50%;background-color: var(--accent);" width="50" height="50">
          <div class="topic"> 
            <div class="topic-text">Helpdesk</div>
            
          </div> 
          <details> 
            <summary>Credentials</summary>
            <div id="help-id" class="help">
              <p>Login: <span style="color:red">user </span> </p> 
              <p>Password: <span style="color:red">test </span></p>
            </div>
          </details>
          <!--<div class="topic-login">AUTHORIZATION</div> -->
          
          <!-- -->
          
          <fieldset class="input-box"> 
            <legend>Login</legend>
            <input type="text" id="usr" name="username" placeholder="user" maxlength="10" required />            
          </fieldset>  
          
          <fieldset class="input-box"> 
            <legend>Password</legend>
            <input type="password" id="pass" name="password" placeholder="password" maxlength="50" required />
          </fieldset> 

          <div class="btn-block"> 
            <input type="submit" class="button-url" id="button-submit" value="LOGIN"/> 
            <button class ="button-url" onclick="location.href='index'" id="btn-back">Back to menu</button> 
            
          </div> 
        </form>

      </div>
    </div>
    <% if(error) { %>
      <script> shakeLogin(); </script> 
    <% } %>
  </body>
</html