<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../styles/index.css">
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    </head>
    <body>
        <div class="index-container" style="left:25%;min-width: 900px;min-height: 500px;" >
            <div class="content" style="background-color: white;height: 350px;" >
                <!--<img src="../sources/technical.jpeg" style="margin-left:20%;"/> -->
                <div style="font-family: Arial, Helvetica, sans-serif;font-size: 60px;margin-left: 25%;color:var(--accent);margin-top:85px;">
                    Page not found
                </div>                
            </div>

        </div>
    </body>
</html>