<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../styles/index.css">
        <link rel="stylesheet" type="text/css" href="../styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../styles/custom.css">
    </head>
    <body>
        <div class="index-container" style="left:25%;min-width: 900px;min-height: 500px;" >
            <div class="not-found-content" style="height: 350px;" >
                <div class="not-found">
                    Page not found
                </div>                
            </div>

        </div>
    </body>
</html>