<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.5"/>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/support.css">
    <link rel="shortcut icon" href="/logo.png"/>
    <title>Helpdesk</title>
    
  </head>
  <body>
    
    <div class="login-container" >
      <div class="content" id="content">
        <form action="/registration" method="post" > 

          <img id="logo" style="border-radius: 100%;background-color: var(--accent);" width="50" height="50">
          <div class="topic"> 
            <div class="topic-text">Helpdesk</div>
            <span>Registration </span>
          </div> 
          <!--<div class="topic-login"> Registration </div> -->
          
          <fieldset class="input-box"> 
            <legend>Login</legend>
            <input type="text" id="usr" name="username" placeholder="user" maxlength="10" required />            
          </fieldset>  
          
          <fieldset class="input-box"> 
            <legend>Passwordь</legend>
            <input type="password" id="pass" name="password" placeholder="password" maxlength="50" required />
          </fieldset> 

          <div class="btn-block"> 
            <input type="submit" class="button-url" id="button-submit" value="Register"/> 
            <button class ="button-url" onclick="location.href='index'" id="btn-back">Back to menu</button> 
            
          </div> 
        </form>

      </div>
    </div>
        
  </body>
</html