<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.5"/>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/support.css">
    <link rel="shortcut icon" href="/logo.png"/>
    <title>Helpdesk</title>
    <script src="./scripts/axios.min.js"></script>
    <script src="./scripts/support.js"></script>
  </head>
  <body>
    <div class="support-container" >
      <div class="content" id="content">
        <form id="statement" method="post" action="/" >
          <img id="logo" style="border-radius: 50%;background-color: var(--accent);" width="50" height="50"/> 
          <div class="topic">
            <div class="topic-text">Helpdesk</div>
            <span>Input form</span> 
          </div>
          <fieldset class="input-box">
            <legend>Name</legend>
            <input type="text" id="name" name="name" placeholder="John smith" maxlength="150" required />            
          </fieldset>
          
          <fieldset class="input-box">
            <legend>Email</legend>
            <input type="text" id="email" name="email" placeholder="john@mailcom" maxlength="150" required />

          </fieldset>

          <fieldset class="input-box">
            <legend>Additional number</legend>
            <input type="number" id="phone" name="phone" placeholder="100" min="0" max="999" required />
            
          </fieldset>
          <!--
          <div id="news" class="news">
            <img id="icon" src="../sources/icon.png" width="30" height="30" style="margin-top:0px;margin-left:0px;">
            CHANGE ICON
          </div>
          -->
          <select class="dropdown" id="problems" name="problem">
            <option value="other">CHOOSE YOUR ISSUE FROM LIST</option>
            <option value="not-access-folder" name="not-access-folder">Problem with access to shared folder</option>
            <option value="not-access-network" name="not-access-network">Issue with internet</option>
            <option value="not-access-cartridge" name="not-access-cartridge">Change cartridge</option>
            <option value="not-access-phone" name="not-access-phone">Phone issue</option>
            <option value="not-access-programm" name="not-access-programm">App issue</option>
            <option value="not-access-printer" name="not-access-printer">Printer issue</option>
            <option value="other-problem" name="other-problem">Other</option>

          </select>
          <div id="manual" class="manual"></div>
          
          <fieldset class="input-box message-box" id="desc-area">
            <legend>Problem description</legend>
            <textarea id="description" name="description" placeholder="My problem" maxlength="150" ></textarea> 
          </fieldset>

          <div class="btn-block">
            <button class="button-url" id="btn-send" >Send</button> 
            <button class ="button-url" onclick="location.href='index'" id="btn-back">Back to menu</button> 
            
          </div>
        </form>
      </div>
    </div>
  </body>
</html