<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="./scripts/axios.min.js"></script>
    <script> 

        function f()
        {
            data={'name':'one','email':'aaa@mail.com','phone':'123','problem':'request-report-card','description':'lalalalala'};
            axios.post('/',data).then(()=>{
                console.log('OK send');
            }).catch((err)=>{
                alert(`Error ${err}`);
            })
        }
        time=700;
        const timePlus = time;
        let rounds=1;

        for(i=0;i<rounds;i++)
        {
            //f();
            setTimeout(()=>{f()},time);
            time=time+timePlus;
        }
    </script>
  </head>
    <body>

    </body>
</html>